@media screen and (max-width:600px) {
    #content {
        width: 90%;
        display: block;
    }
    h1 {
        padding-top: 15px;
    }

    h2 {
        padding-bottom: 15px;
    }

    .visual-hierachy {
        margin-bottom: 15px;
    }
    
    .repetition {
       
        border-radius: 15px;
        background-color: #F0EEEE;
        overflow: hidden;
        margin-bottom: 15px;
    }
    
    .hicks-law {
       
        border-radius: 15px;
        background-color: #F0EEEE;
        overflow: hidden;
        
    }
    img {
        width: 90%;
    
    }
}