@media screen and (min-width: 32.5em) {

    /*header*/
    .text-headings h1 {
        font-size: 2em;;
    }

    /*main*/ 
    main {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
 main h2 {
     grid-column: 1 / 3;
 }


  



