@media screen and (min-width: 32.5em) {

    #content {
        width: 80%;
    }

    header div {
        width: 69%; 
    }

    button {
        display: none; 
    }



    
    
    header div p {
        font-size: 1em;
    }

    /*main*/ 
    .contentbox {
        background-color: #acf;
        width: 80%;
    }

}