@media screen and (min-width: 858px) {
    nav ul {
        display: flex; 
        width: 80%;
        margin: 0 auto;
    }

    nav ul li {
        flex: 1 1 100%;
    }
    
    nav ul li a {
        border-top: none;
    }

    #content {
        width: 80%;
    }

    header div {
        width: 69%; 
    }

    button {
        display: none; 
    }

    nav ul.hide {
        display: flex;
    }
}