@media screen and (min-width: 65em) {
    nav ul {
        display: flex; 
        width: 80%;
        margin: 0 auto;
    }

    nav ul li {
        flex: 1 1 100%;
    }
    
    nav ul li a {
        border-top: none;
    }

    nav ul.hide {
        display: flex;
    }

    header div h1 {
        font-size: 2em;
    }

    
    button {
        display: none; 
    }
 

    /*main*/ 

/* JSON Data or cards */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}

/* First column */
.cards section:first-child {
    display: block;
    grid-column: 1 / 2;
    grid-template-columns: none;
}

/* 2nd column */
.cards section:nth-child(2) {
    grid-column: 2 / 3;
    display: block;
    grid-template-columns: none;
}


/* 3rd Column */
.cards section:nth-child(3) {
    grid-column: 3 / 4;
    display: block;
    grid-template-columns: none;
}

#wireframe img {
    width: 50%;
}

  /*footer*/
  footer {
    width: 90%;
}
}