@media screen and (min-width: 32.5em) {

    /*header*/
    .text-headings h1 {
        font-size: 2em;
    }

    /*main*/ 
    main {
        width: 80%;
    }
    
    /* JSON Data or cards */
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.3em;
    }



}

