body {
    background-color: #444444;
}
#content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    background-color: azure;
    border-radius: 5px;

}

header {
    background-color:#35502B;
    border-radius: 5px;
    padding: 5px 5px 15px 5px;
    color: white;
    text-align: center;

}
header h1 {
    display: inline;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Mono', monospace;
}

p, ul {
    font-family: 'Comic Neue', cursive;
}

footer {
    background-color: #35502B;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: white;

}
footer a {
    color: white;
}


img {
    width: 25%;
    border-radius: 5px;

}


