@media screen and (min-width: 32.5em) {

    /*header*/
    .text-headings h1 {
        font-size: 2em;;
    }

    /*main*/ 
    main {
        width: 80%;
    }
    
    .contentbox {
        background-color: #acf;
    }


    /*herodiv*/

    .herodiv img {
        margin-bottom: 0em;
    }

    /*five-day-forecast*/

.five-day-forecast {
    display: block;
}

.forecast-table {
    width: 80%;
}

/*article*/

.article img {
    width: initial;
    margin-left: .8em;
    float: right;
}

.article h3 {
    margin-top: 0;
}
}