@media screen and (min-width: 32.5em) {

    /*header*/
    .text-headings h1 {
        font-size: 2em;;
    }

    /*main*/ 
    main {
        width: 80%;
    }
    
    .contentbox {
        background-color: #acf;
    }


    /*herodiv*/

    /*nav active*/

    .active {
        text-decoration: wavy;
        background-color: #35502B;
        color: white;
        font-weight: bold;
    }
    
    .active:hover {
        background-color: #454955;
    }

}