@media screen and (min-width: 32.5em) {
    /*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  * 
/               General styles for all pages                    /
/                                                                /
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */


/* for the header and navigation */
.headNavContainer {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}


.header .icon img {
    width: 10%; 
}

.header h1 {
    font-size: 2em;
}

/* For the button */
p#changeSymbol {
display: none;
}

/* this controls the navigation display */
/* .hide {
    display: flex;
}  */

nav #primaryNav {
    width: 95%;
    position: initial;
    color: black;
    list-style: none;
    display: flex;
    background-color: initial;
}



#primaryNav li {
    flex: 1 1 100%;
}

#primaryNav li a {
    text-align: center;
    color: black;
    border-bottom: none;
    padding: .6em .6em;
    margin-top: .9em;
    font-size: 1em;
}

/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  * 
/                       FOR THE INDEX PAGE                      /
/                                                                /
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.picContainer {
    height: auto;
}


div.slider {
    height: auto;
}







}