/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  * 
/               General styles for all pages                    /
/                                                                /
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */

body {
    font-size: 18px;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu', sans-serif;   
}


p, li, figcaption, span, a {
    font-family: 'Inconsolata', monospace;
}

/* for the header and navigation */
.headNavContainer {
    padding: .5em 2% 0;
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 70px;
}

/* for the scooter icon */
.header .icon {
    margin-top: 1em;
}

.header .icon img {
    width: 12%; 
    position: relative;
    top: .3em;
}
.header h1 {
    display: inline;
    margin: 0 0 10px;
    font-size: 2em;
}

.header p {
    font-size: .8em;
    font-style: italic;
    margin: 0;
    
}
/* For the button */
p#changeSymbol {
    margin: 0;
    padding: 0;
    font-size: 3em;
    border: none;
    text-align: right;
}


/* this controls the navigation display */
.hide {
    display: none;
}

/* This is for the side bar */
#primaryNav {
    padding: 0;
    margin: 0;
    position: absolute;
    color: white;
    list-style: none;
    width: 200px;
    top: 80px;
    right: 0;
    background-color: grey;
}


#primaryNav li a {
    color: white;
    text-decoration: none;
    padding: .7em .4em;
    display: block;
    font-size: 1.2em;
    border-bottom: 3px solid red;
}

#primaryNav li a:hover {
    background-color: aqua;
    
}

/* For the main */

/* .main {
   padding: 0 2%; 
   
} */

footer {
    margin: 0 auto;
    padding: 0;
    background-color: #35502B;
    padding: 5px;
    text-align: center;
    color: white;
}

footer div p {
    margin: 0;
    padding-top: .5em;
}

footer div p a {
    color: #E7C24F;
    text-decoration: none;
}

footer div.social-icons {
    padding-top: .7em;
}

footer div.social-icons img {
    opacity: 0.5;
}

footer div.social-icons img:hover {
    opacity: 1;
}


/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  * 
/                       FOR THE INDEX PAGE                      /
/                                                                /
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */


/* for the banner */
.index picture img {
    width: 100%;
}

/* wayfinder */
#primaryNav li a.active {
    color: #1D3557;
    border-left: 2px solid #F1FAEE;
    
}

main.index h2 {
    text-align: center;
    margin: 1em 0 0;
}

main.index hr {
    margin: 0 2%;
}

main.index p.weAreCozumel {
    margin: .5em 4%;
    text-align: center;
    padding: 0 4%;
}

/* This is for the image slider */
.picContainer {
    margin: 0 auto;
    width: 90%;
    height: 270px;
}

.picContainer img {
    width: 100%;
}

div.slider {
    height: 270px;
}

/* This is for the image slider button */
.picContainer button {
    border: none;
    font-size: 2em;
    cursor: pointer;
    background-color: transparent;
    color: white;
    position: relative;
}

.picContainer .display-left {
    
    top: 150px;
}

.picContainer .display-right {
   
    top: 150px;
    left: 270px;
}

/* for the text on the image */

h3.best {
    text-align: center;
    color: white;
    position: relative;
    bottom: 90px;
    margin: 0;
    background-color: rgba(128, 128, 128, .5);
}

 .rely {
    text-align: center;
    color: white;
    position: relative;
    bottom: 200px;
    left: 80px;
    font-size: 2em;   
    background-color: rgba(128, 128, 128, .5);
    width: 200px;
    margin: 0;
} 

/* for the we are cozumel scoots text */
.cozumel {
    padding: .5em;
    font-size: 1.5em;
}

/* For the make your reservation now button  */

main.index h2 a {
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid #1D3557;
    padding: .3em;
    font-size: .9em;
    background-color: grey;
    color: white;
}

main.index h2 a:hover {
    color: grey;
    background-color: white;
}


/* For the rental summary cards */
.cards {
    display: block;
    padding: 1em;
    text-align: center;
    background-color: #D9CAB3;
    box-shadow: 0 -3px 15px #454955;
}

.cards section {
    color: white;
    background-color: #35502B;
    border-radius: 5px;
    margin-bottom: 1em;
}

.cards section img {
    width: 100%;
}

.cards section h3, .cards section p {
    margin: 0;
    padding: .5em 0;
}


/* FOr the weather summary */
.wstats {
    margin: 0 10%;
    padding: .5em 0;
    background: radial-gradient(#E7C24F, #D9CAB3);
    border: 1px solid #454955;
    box-shadow: 0 0 25px #000;
    opacity: .8;
    display: grid;
    grid-template-columns: 160px 1fr;
}

.wstats h4, .wstats p, .wstats span {
    margin: 0;
    padding: .3em .3em .3em .1em;
    font-size: .8em;
}

.wstats h4, .wstats p {
    text-align: right;
}


.wstats span {
    text-align: left;
}

/* contact information */
img.gmap {
    display: none;
}

.contact-info {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 1em;
    background-color: #E7C24F;
    box-sizing: border-box;
}

.contact-info h3 {
    margin: 0;
}

.contact-info .right ul {
    list-style-type: none;
    padding: 0;
}

.contact-info .right ul li {
    padding: .3em;
}

/* For the second list */
.contact-info .right ul li:nth-child(2) {
    padding-left: 1.8em;
}

/* for the forcast table */
.five-forecast-table {
    display: none;
    transition: 1s
}
